<!--Userinfoの作成-->
<div class="container mt-3 px-0">
  <div class="row">
     <!--部分テンプレートの作成-->
    <%= render '/books/sideber', book: @book, user: @user %>

 <!--ユーザー一覧の作成-->
    <div class="col-8 ml-auto">
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
           <th>image</th>
           <th>name</th>
           <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
         <% @users.each do |user| %>
          <tr>
           <td><%= image_tag user.get_profile_image(100, 100) %></td>
           <td><%= user.name %></td>
           <td><%= link_to 'Show', user_path(user.id) %></td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
