<!--Userinfoの作成-->
<div class="container mt-3 px-0">
    <% if @book.errors.any? %>
      <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
     <% end %>
  <div class="row">

     <!--部分テンプレートの作成-->
    <%= render 'sideber', book: @book, user: @user %>
    <!--投稿一覧の作成-->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
           <th></th>
           <th>Title</th>
           <th>Opinion</th>
           <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
         <%= render 'index', books: @books, book_detail: @book_detail %>
        </tbody>
      </table>
    </div>
  </div>
</div>














